* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #24A159;
}

.pose {
  height: 100%;
  max-width: 270px;
}

.quote {
  position: fixed;
  left: 5%;
  right: 5%;
}

.picture {
  height: 225px;
}

.main {
  display: flex;
  align-items: center;
}

.the-answer {
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-box {
  height: 150px;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.question-form {
  text-align: left;
  height: 100%;
  width: 100%;
}

.submit {
  width: 100%;
  border: 0px;
  font-family: 'Oswald', sans-serif;
  color: #24A159;
  border-radius: 8px;
  box-shadow: 0px;
  position: absolute;
  bottom: 0px;
}

.submit:hover {
  background-color: #ff476f;
  -webkit-transition-duration: 0.8s; /* Safari */
  transition-duration: 0.8s;
  color: white;
  cursor: pointer
}

.radio, label {
  cursor: pointer
}

.radio {
 margin-top: 6px;
 margin-left: 1px;
}

label {
  display: flex;
  transition: all 0.3s ease-out;
}
label:hover, label:focus {
  background-color: #ff476f;
  color: white;
}


